<span class="badge"><%= link_to category.name, category_path(category) %> &nbsp; </span>

<!-- partial 이 붙는 곳이 show.html 내 ender @article.categories 코드 (.each 의 숏컷) 이기 때문에 인스턴스가 아닌 일반 category 로 쓰게됨 -->
